body{
	background-color: black;
	color: aliceblue;
}

h1{
	color: rgb(0, 119, 255);
	font-size: 35px;
}

h2, h3, p{
	color: rgb(168, 164, 164);
}

/* div{
	border: 1px solid rgb(218, 139, 36);

} */

.login{
	padding: 25px;
}

#main-content{
	padding: 10px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	border: 1px solid rgb(218, 139, 36);
}

#signin{
	margin-left: 5%;
}



#email, #password{
	background-color: rgb(124, 120, 120);
	width: 25%;
}

